@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Work Sans", serif;
}

.btn-primary{
    background-color: #FF900E;
    border: none;
    padding: 10px 15px;
    border-radius: 7px;
    color: white;
}
.btn-primary:hover{
    background-color: #cd7715;
}

.text-light-gray{
    color: rgb(102, 100, 100);
}



header{
    background-color:#e9c8a3 ;
    max-width: 1920px;
    padding: 20px 0px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
   
    
}

.navbar>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar>ul>li{
    list-style: none;
    margin-left: 40px;
}
.navbar>ul>li>a{
    text-decoration: none;
    color: rgb(50, 47, 47);
}

.navbar>ul>li>a:hover{
  color: blue;
}

.container-text{
    width: 50%;
   margin: 30px auto;
   text-align: center;
}
.container-text>p{
    margin: 10px 0px;
}

.banner-img{
    width: 70%;
    margin: 0px auto;
}

.banner-img>img{
    width: 100%;
}


main,footer{
    width: 80%;
    max-width: 1440px;
    margin: 100px auto;
}

.features-text{
    color: #cd7715;
}

.team-text-container>p{
    margin: 10px 0px;
}

.team-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.team-container>.team-text-container{
    width: 40%;
   
}

.team-images{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
  width: 50%;
}

.team-images>img{
    width: 100%;
}


/* features styles */
.features-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
   
}

.features-des-container{
    width: 40%;
}

.features-header{
    margin-bottom: 30px;
   
}
.features-header>h1{
    border-left: 7px solid #cd7715;
    padding-left: 7px;
}
.features-header>p{
    margin-top: 5px;
}

.card-container>.card{
    padding: 30px 0px;
    box-shadow: 5px 5px 5px 5px rgba(246, 240, 240, 0.75);
    padding: 30px 20px;
    margin: 20px 0px;
}

.card>p {
  margin-top: 5px;
}

.features-img{
    width: 50%;
    position: relative;
}

.features-img>img{
    width: 100%;
}

.features-img>button{
    padding: 50px 30px;
    font-size: 2.5rem;
    font-weight: 700;
    position: absolute;
    top: 650px;
    left: -50px;
}

.features-img>button>span{
    font-weight: normal;
    font-size: 1rem;
    display: block;
}

.facts-container{
    margin-top: 80px;
}
.facts-text{
    width: 50%;
}
.facts-text>p{
   margin: 10px 0px;
}
.facts-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    margin-top: 20px;
}

.facts-card-container>.card{
  border: 1px solid #cd7715;
  /* padding: 50px 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 /* sponcors section style */
 .sponcors-container{
    margin-top: 100px;
 }
 .sponcors-container>.sponcors-text>p{
    margin-top: 10px;
 }
.sponcors-images{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 50px;
}

.sponcors-text{
    width: 50%;
    margin: 0px auto;
    text-align: center;
}

.sponcor-img>img{
    width: 50%;
}


footer{
    background-color: #edd2b3;
    padding: 30px 0px;
    border-radius: 5px;
    
}
footer>p{
    text-align: center;
}




@media screen and (max-width:576px){

    main{
        margin: 70px auto;
    }
    .container-text{
        width: 80%;
       margin: 30px auto;
       text-align: center;
    }

    .navbar{
      flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px 10px;
       
        
    }

    .team-container,.features-container{
       flex-direction: column-reverse;
       
    }
    .team-container>.team-text-container{
        width: 90%;
        text-align: center;
        margin-bottom: 30px;
       
    }
    .team-images{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
        width: 90%;
      }
      
      .team-images>img, .features-img, .features-des-container{
          width: 100%;
      }
      
      .card-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        gap: 10px;
      }
      .card-container>.card{
        box-shadow: 5px 5px 7px 0px rgba(206, 190, 190, 0.75);
        margin-top: 10px;
     }
      
      .features-img>button{
        /* padding: 50px 30px;
        font-size: 2.5rem;
        font-weight: 700; */
        position: static;
       
    }

    .features-des-container{
        margin-top: 60px;
        text-align: center;
    }

    .features-container{
        margin-top: 90px;
    }
    
    .facts-card-container{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
        margin-top: 40px;
    }

    .facts-text,.sponcors-text,.sponcor-img>img{
        width: 80%;
    }

    .sponcor-img>img{
        width: 70%;
    }
    footer>p{
        text-align: center;
        padding: 0px 10px;
    }
}


@media screen and (min-width:576px) and (max-width:870px) {
    .navbar{
        flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px 10px;
        }
    .container-text{
        width: 70%;
       margin: 30px auto;
       text-align: center;
    }

    .features-container{
      flex-direction: column-reverse;
      margin-top: 90px;
    }

    .team-container{
        flex-direction: column;
        
    }

    .team-container>.team-images{
        width: 100%;
        margin-bottom: 20px;
    }

    .team-container>.team-text-container{
        width: 100%;
        text-align: center;
    }

    .features-img, .features-des-container{
      width: 100%;

    }
     .features-des-container{
        margin-top: 60px;
        text-align: center;
    }

    .features-img>button{
        /* padding: 50px 30px;
        font-size: 2.5rem;
        font-weight: 700; */
        position: static;
       
    }
   
    .facts-card-container{
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        margin-top: 40px;
    }

    .card-container>.card{
        box-shadow: 5px 5px 7px 0px rgba(206, 190, 190, 0.75);
        margin-top: 10px;
     }

    .sponcors-text{
        width: 70%;
    }
   footer>p{
    padding: 0px 10px;
   } 
}

